.btn {
	display: block;
	border-radius: 5px;
	border: none;
	padding: 11px;
	margin: 30px auto;
	background-color: #465a3f;
	color: white;
}

.chart {
	margin: 30px auto;
}

table, th,td {
	border: 1px solid black;
	text-align: center;
	height: 35px;
}

table {
	width:40%;
	margin-top: 30px;
	margin-left: 95px;
}

th {
	background-color: #465a3f;
	color: white;
}

tr:nth-child(2n-1) {
	background-color: #DCDCDC;
}